<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ planet.lang }}">
    <title>{{ planet.name }}</title>
    {%- if description %}
    <subtitle>{{ description }}</subtitle>
    {%- endif %}
    <link rel="self" type="application/atom+xml" href="{{ planet.link ~ filename | safe }}"/>
    <link rel="alternate" type="text/html" href="{{ planet.link | escape_xml | safe }}"/>
    <updated>{{ planet.last_updated | date(format="%+") }}</updated>
    <id>{{ planet.link | safe }}</id>
    {%- for item in planet.items %}
    <entry xml:lang="{{ item.language }}">
        <title>{{ item.title }}</title>
        <published>{{ item.published | default(value=item.updated) | date(format="%+") }}</published>
        <updated>{{ item.updated | default(value=item.published) | date(format="%+") }}</updated>
        <author>
          <name>
            {{ item.channel.author.name }}
          </name>
        </author>
        <link rel="alternate" type="text/html" href="{{ item.links.0.href | safe }}"/>
        <id>{{ item.links.0.href | escape_xml | safe }}</id>
        <content type="html" xml:base="{{ item.links.0.href | escape_xml | safe }}">{{ item.content }}</content>
    </entry>
    {%- endfor %}
</feed>
