// generate css with [grass](https://crates.io/crates/grass) and
// [picocss](https://github.com/picocss/pico):
//
// $ grass -I ~/src/pico/scss/ ./planet.scss > output/planet.css

@use "pico" with (
    $enable-semantic-container: true,
    $enable-responsive-spacings: true,
    $enable-classes: false,
    $enable-viewport: false,
    $theme-color: "jade",
    $modules: (
        "forms/input-color": false,
        "forms/input-date": false,
        "forms/input-file": false,
        "forms/input-range": false,
        "forms/input-search": false,
        "components/dropdown": false,
        "components/loading": false,
        "components/modal": false,
        "components/progress": false,
        "utilities/reduce-motion": false
    )
);

body {
    display: flex;
    flex-wrap: wrap;
}

body > * {
    width: 100%;
    padding: 1rem;
}

body > header {
    text-align: center;
}

aside li p a {
    display: inline;
}

a[class="feed"] {
    content: url("images/rss.svg");
    width: 2em;
    height: 2em;
    margin-right: 0.2em;
    margin-left: 0.2em;
}

@media(min-width: 768px) {
    body > header {
        order: -2;
    }
    body > aside {
        order: -1;
        width: calc(100% / 5);
    }
    body > main  {
        width: calc(100% / 5 * 4);
    }
}

